extends layout

block head
  title.
    It's Phone Time
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='stylesheets/main.css')
  link(rel='shortcut icon' type='image/png' href='favicon.ico')
  script(src='//code.jquery.com/jquery-2.1.4.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  script(src='////media.twiliocdn.com/sdk/js/client/v1.5/twilio.min.js')
  script(src='https://www.gstatic.com/firebasejs/5.5.8/firebase.js')

  script.
    var currentAgentId = !{JSON.stringify(currentAgentId)};
    console.log(998899899);
    console.log(currentAgentId);

  script(src='javascripts/main.js')


block content
  div.row
    div.col-md-6.col-md-offset-3
      div.panel.panel-info.client-controls.margin-vertical
        div.panel-body
          p
            div.well.well-sm
              span#call-status.
                Waiting for user to connect as an agent...
              select#status-selector
                option.
                  Available
                option.
                  Unavailable


          div.row#connect-agent-row
            div.col-md-6.text-center
              button#connect-agent1-button.btn.btn-lg.btn-primary.
                * Connect as mkaufman
            br
            div.col-md-6.text-center
              button#connect-agent2-button.btn.btn-lg.btn-info.
                Connect as lcampbell
            br
            div.col-md-6.text-center
              button#connect-agent3-button.btn.btn-lg.btn-info.
                Connect as biremonger
            br

          div.row.hidden#connected-agent-row
            div.col-md-12.text-center.main-btn-cnt
              button#answer-call-button.btn.margin-horizontal.btn-lg.btn-success(disabled="disabled").
                Answer call
              button#hangup-call-button.btn.margin-horizontal.btn-lg.btn-danger(disabled="disabled").
                Hangup
            div.col-md-12.text-center.main-btn-cnt
              button#hold-button.btn.margin-horizontal.btn-lg.btn-info.hidden(disabled="disabled").
                Hold
              button#off-hold-button.btn.margin-horizontal.btn-lg.btn-info.hidden(disabled="disabled").
                Un-Hold
              button#start-conference-button.btn.btn-lg.btn-info.hidden(disabled="disabled").
                Move to conference
            div.col-md-12.text-center#outbound-cnt
              input(id='dial-input', placeholder='(888) 888-8888').margin-horizontal.outbound-input
              button#call-button.btn.margin-horizontal.btn-lg.btn-info.
                Call

          div.row.hidden#dial-in-cnt
            p.
              Dial In:
            div.flex-parent

          div.row.hidden.flex-parent#transfer-cnt
            p.
              Transfer To:
            div.flex-parent

      a(href='javascript:void(0)')#logout-btn.
        Log Out
