.margin-horizontal {
  margin: 0px 5px;
}
.margin-vertical {
  margin: 5px 0px;
}
.outbound-input {
  border-radius: 4px;
}
#status-selector {
  float: right;
}
.main-btn-cnt {
  margin-bottom: 5px;
}
#dial-in-cnt, #transfer-cnt {
  margin: 0.5vw;
}

#dial-in-cnt .flex-parent, #transfer-cnt .flex-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dial-in-btn, .transfer-btn {
  flex-grow: 1;
  width: 18%;
  min-width: 8em;
  font-size: 80%;
  margin: 0.5vw;
  padding: 8px 8px 8px 4px;
  display: flex;
  align-items: center;
}

.presence-circle {
  border-radius: 100%;
  border: 1px solid #555;
  width: 1em;
  height: 1em;
}
.btn-name {
  flex-grow: 1;
  text-align: center;
  margin-left: 4px;
}
#speaker-selector-cntr {
  margin-left: 5px;
}
#header {
  padding-top: 10px;
}

.hidden {
  display: none;
}
